<ActionBar title="My App" class="action-bar">
</ActionBar>

<BottomNavigation selectedIndex="1">
    <TabStrip>
        <TabStripItem title="Home" iconSource="res://icon"></TabStripItem>
        <TabStripItem title="Account"></TabStripItem>
        <TabStripItem title="Settings"></TabStripItem>
    </TabStrip>
    <TabContentItem>
        <GridLayout>
            <Label text="Home Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Account Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
    <TabContentItem>
        <GridLayout>
            <Label text="Settings Page" class="h2 text-center"></Label>
        </GridLayout>
    </TabContentItem>
</BottomNavigation>
