<StackLayout class="m-20 text-center">

    <Label text="Start control" textWrap="true"></Label>

    <Label [text]="'fa-times' | fonticon" class="fa"></Label>

    <Label [text]="'fa-user' | fonticon" class="fa"></Label>

    <Label [text]="'fa-key' | fonticon" class="fa"></Label>

    <Label [text]="'fa-megaphone' | fonticon" class="fa"></Label>

    <Label [text]="'ion-ios-star-half' | fonticon" class="ion"></Label>

    <Label [text]="'fa-life-ring' | fonticon" class="fa"></Label>

    <Label [text]="'fa-minus-circle' | fonticon" class="fa"></Label>

    <Label text="End Control" textWrap="true"></Label>

</StackLayout>