
<ActionBar title="My App" class="action-bar">
</ActionBar>

<BottomNavigation isIconSizeFixed="false"
                (loaded)="onRootBottomNavLoaded($event)" 
                (selectedIndexChanged)="tabViewIndexChange($event)" selectedIndex="0">
    <TabStrip>

      <TabStripItem class="tabstripitem">
        <Label text="Journey"></Label>
        <Image src="font://&#xe55b;" class="mat"></Image>
      </TabStripItem>

      <TabStripItem class="tabstripitem">
        <Label text="Home"></Label>
        <Image src="font://&#xe88a;" class="mat"></Image>
      </TabStripItem>
  
      <TabStripItem class="tabstripitem">
        <Label text="Profile"></Label>
        <Image src="font://&#xe7ff;" class="mat"></Image>
      </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <GridLayout rows="*, *" horizontalAlignment="center">
            <Label row="0" text="Journey" textWrap="true"></Label>
            <Label row="1" text="&#xe55b;" class="mat"></Label>
        </GridLayout>
    </TabContentItem>

    <TabContentItem>
        <GridLayout rows="*, *" horizontalAlignment="center">
            <Label row="0" text="Home" textWrap="true"></Label>
            <Label row="1" text="&#xe88a;" class="mat"></Label>
        </GridLayout>
    </TabContentItem>

    <TabContentItem>
        <GridLayout rows="*, *" horizontalAlignment="center">
            <Label row="0" text="Profile" textWrap="true"></Label>
            <Label row="1" text="&#xe7ff;" class="mat"></Label>
        </GridLayout>
    </TabContentItem>
  </BottomNavigation>

